.profile__edit-button {
  width: 27px;
  height: 24px;
  transition: 0.3s linear;
  margin-left: 18px;   
  background-image: url(../../../images/Edit_Button.svg);
}

@media (max-width: 720px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}