.profile__info{
  display: grid;
  align-items: center;
  grid-template-columns: 120px 336px 24px;
}

@media (max-width: 1000px) {
  .profile__info {
      display: flex;
      flex-flow: column;
  }
}