.form__button {
  max-width: 358px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background-color: black;
  margin: 56px auto 0;
}

@media (max-width: 767px) {
  .form__button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}