.profile__edit-avatar-button {
  z-index: 1;
  position: absolute;  
  top: 45px;
  left: 50px;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1000px) {
  .profile__edit-avatar-button {
    left: 133px;
    top: 50px;
  }
}

.profile__edit-avatar-button_visible {
  opacity: 1;
}