.popup__close-button {
  position: absolute;
  transition: 0.3s linear;
  top: -40px;
  right: -39px;
  width: 32px;
  height: 32px;
  background-image: url(../../../../src/images/close-icon.svg);
}

@media (max-width:767px) {
  .popup__close-button {
    top: -39px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}