.profile__subtitle {
  margin: 10px auto 0;  
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}