.profile__subtitle {
  margin: 10px auto 0;  
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__subtitle {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
  }
}