.profile__title {
  margin: 0;
  max-width: 294px;
  width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .profile__title {
      font-size: 27px;
      line-height: 33px;
      margin-top: 26px;
      max-width: 189px;
      text-align: end;
  }
}