.profile__edit-button {
  width: 24px;
  height: 24px;
  margin-left: 23px;   
  background-image: url(../../../../src/images/Edit_Button.svg);
  background-position: center;
  align-self: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  border: 1px solid white;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0 0px 5px 10px;
    align-self: flex-end;    
  }
}