.profile__avatar {
  max-width: 120px;
  width: 100%;
  border-radius: 50px;
  object-fit: cover;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png");
}

.profile__avatar:hover {
 cursor: pointer;

}