.popup__close-button {
  position: absolute;
  transition: 0.3s linear;
  top: -35px;
  right: -35px;
  width: 32px;
  height: auto;
  background-image: url(../../../images/close\ icon.png);
}

.popup__close-button:hover {
  cursor: pointer;
  opacity: 80%;
}