@import url(../vendor/normalize.css);
@import url(../fonts/font.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/button/button.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__wrapper-info/profile__wrapper-info.css);
@import url(../blocks/profile/__title-wrapper/profile__title-wrapper.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/photo-cards/photo-cards.css);
@import url(../blocks/photo-card/photo-card.css);
@import url(../blocks/photo-card/__image/photo-card__image.css);
@import url(../blocks/photo-card/__description/photo-card__description.css);
@import url(../blocks/photo-card/__title/photo-card__title.css);
@import url(../blocks/photo-card/__like-button/photo-card__like-button.css);
@import url(../blocks/photo-card/__like-button/_state/like-button_state_liked.css);
@import url(../blocks/photo-card/__delete-button/photo-card__delete-button.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/_state/popup_state_visible.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__item/form__item.css);
@import url(../blocks/form/__handlers/form__handlers.css);
@import url(../blocks/form/__button/form__button.css);

@import url(../blocks/popup-image/__content/popup-image__content.css);
@import url(../blocks/photo-card/__overlay/photo-card__overlay.css);
@import url(../blocks/popup-image/_state/popup-image_state_visible.css);
@import url(../blocks/popup-image/__image/popup-image__image.css);
@import url(../blocks/popup-image/__close-button/popup-image__close-button.css);
@import url(../blocks/popup-image/__title/popup-image__title.css);

.overlay {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);  
}

.overlay_visible {
  opacity: 1;
  pointer-events: all;
}

.input__element_invalid {
  border-color: red;
}

.input__error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  opacity: 0;
}

.input__error_visible {
  opacity: 1;
}

.form__button_disabled {
  opacity: 0.5;
  pointer-events: none;
}
