.button {
  margin: 0;
  padding: 0;
  transition: 0.3s linear;
  background-color: transparent;
  border: none;
  background-size: cover;  
  transition: 0.3s linear;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}